/* Banner Style */
.banner {
    background-color: pink;
}

/* Add Button Style */
.add-btn {
    background-color: darkviolet;
}

/* Delete Button Style */
.delete-btn {
    background-color: purple;
}

/* Plus Symbol */
.plus-symbol {
    color: indigo;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

